[submodule "student-service"]
	path = student-service
	url = https://github.com/RasanduniLakmali/student-service.git
[submodule "program-service"]
	path = program-service
	url = https://github.com/RasanduniLakmali/program-service.git
[submodule "enrollment-service"]
	path = enrollment-service
	url = https://github.com/RasanduniLakmali/enrollment-service.git
